body {
    background-color: #38b8e9;
    background-image: url(./sky.jpg);
    background-size: 50vh;
    text-align: center;
    animation: move 60s steps(30) infinite;
}

@keyframes move {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: -25% 0%;
    }

    50% {
        background-position: -50% 0%;
    }

    75% {
        background-position: -75% 0%;
    }

    100% {
        background-position: -100% 0%;
    }
}

h1 {
    font-family: 'Press Start 2P',
    cursive;
    font-size: 2vw;
    padding: 1.5%;
    text-shadow: 0.1vh 0.3vh white;
}

.row {
    width: 43vw;
    height: 43vw;
}

.board {
    background-color: #D7D6D9;
    position: relative;
    height: 100%;
    border-radius: 5%;
}

.player-home {
    background-color: #727272;
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 0.4vh solid black;
    position: absolute;
}

.player-home:nth-of-type(1),
.player-home:nth-of-type(2) {
    margin-top: 5%;
}

.player-home:nth-of-type(2),
.player-home:nth-of-type(4) {
    right: 0;
    margin-right: 5%;
}

.player-home:nth-of-type(3),
.player-home:nth-of-type(4) {
    bottom: 0;
    margin-bottom: 5%;
}

.player-home:nth-of-type(1),
.player-home:nth-of-type(3) {
    margin-left: 5%;
}


.oval-btn-container {
    background-color: #D7D6D9;
    border-radius: 2vh;
    padding: 1% 0;
    height: 25%;
    width: 60%;
    transform: rotate(-45deg);
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.oval-btn-container:nth-of-type(1) {
    top: 25%;
    left: 9%;
}

.oval-btn-container:nth-of-type(2) {
    top: 50%;
    left: 28%;
}

.button {
    border: 0.3vh solid black;
    border-radius: 50%;
    height: 78%;
    width: 30%;
}


.grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.slot {
    border: 0.3vh solid black;
    border-radius: 50%;
    height: 75%;
    width: 70%;
    background-color: white;
    margin: auto;
    position: relative;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
}

.slot:nth-of-type(1),
.slot:nth-of-type(4),
.slot:nth-of-type(7),
.slot:nth-of-type(10){
    grid-column-start: 5;
}

.slot:nth-of-type(4),
.slot:nth-of-type(5),
.slot:nth-of-type(6) {
    grid-row-start: 2;
}

.slot:nth-of-type(5) {
    grid-column-start: 6;
}

.slot:nth-of-type(6) {
    grid-column-start: 7;
}


.slot:nth-of-type(55),
.slot:nth-of-type(52),
.slot:nth-of-type(49),
.slot:nth-of-type(46){
    grid-column-start: 5;
}

.slot:nth-of-type(13) {
    grid-column-start: 1;
}

.slot:nth-of-type(29) {
    visibility: hidden;
}

.green {
    background-color: #329900;
}

.yellow {
    background-color: #f5b201;
}

.red {
    background-color: #e10a16;
}

.blue {
    background-color: #020e9b;
}

.arrow {
    border: none;
}

.right {
    transform: rotate(270deg);
}

.up {
    transform: rotate(180deg);
}

.left {
    transform: rotate(90deg);
}